layout_miniconda temporal_task_planner
export PYTHONPATH=:$PWD/third_party/habitat-sim
export PATH_TO_ARRANGE_RECORDER=$PWD/third_party/habitat-sim/build/utils/arrange_recorder/arrange_recorder
export CUBLAS_WORKSPACE_CONFIG=:4096:8